In [13]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
from talib import RSI, BBANDS
import talib
import matplotlib.pyplot as plt

In [18]:
start = '2010-01-01'
end = '2019-12-31'
symbol = 'AAPL'
QUANDL_API_KEY = 'E__A5fUxeqZ961ANiKxA'
data = web.DataReader(name=symbol, data_source='quandl', start=start, end=end, api_key = QUANDL_API_KEY)
col = ['AdjOpen', 'AdjHigh', 'AdjLow', 'AdjClose', 'AdjVolume']
data = data[col]
data.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
data.sort_index(inplace = True)
data['Return'] = data['Close'].pct_change()
data.dropna(inplace = True)
display(data.head(10))

,Open,High,Low,Close,Volume,Return,Return1
Date,,,,,,,
2010-01-06,27.550818,27.660055,27.084312,27.112585,138040000.0,-0.015906,-0.014205
2010-01-07,27.212826,27.244955,26.865839,27.062465,119282800.0,-0.001849,-0.017726
2010-01-08,27.026481,27.244955,26.867124,27.242385,111902700.0,0.006648,0.004787
2010-01-11,27.347766,27.373469,26.788730,27.002063,115557400.0,-0.008822,-0.002232
2010-01-12,26.883831,26.958369,26.527847,26.694915,148614900.0,-0.011375,-0.020096
2010-01-13,26.714192,27.107445,26.229695,27.071461,151473000.0,0.014106,0.002570
2010-01-14,27.002063,27.047043,26.861983,26.914674,108223500.0,-0.005792,0.008232
2010-01-15,27.107445,27.193549,26.457164,26.464875,148516900.0,-0.016712,-0.022407
2010-01-19,26.773309,27.654914,26.633228,27.635637,182501900.0,0.044238,0.026787
2010-01-20,27.618930,27.701179,26.923670,27.209613,153038200.0,-0.015416,0.028141

In [10]:
close = data['Close'].values
up, mid, low = BBANDS(close, timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)
rsi = RSI(close, timeperiod=14)
print("RSI (first 10 elements)\n", rsi[:24])

RSI (first 10 elements)
 [        nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan 38.88832436 42.49420764 44.87117138 37.49305409
 32.63357041 35.93361041 37.33431193 41.44589293 36.0229228  40.03585633]

In [21]:
print(talib.get_functions()[0])

HT_DCPERIOD

In [22]:
a = talib.get_functions()[0]
print(type(a))

<class 'str'>

In [27]:
locals()['RSI']