In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('pe.csv')

In [3]:
data.head()

      pe
0  27.36
1  29.55
2  26.50
3  26.59
4  24.90

In [4]:
print(data.pe.quantile(0.1))
print(data.pe.quantile(0.2))
print(data.pe.quantile(0.3))
print(data.pe.quantile(0.7))
print(data.pe.quantile(0.8))
print(data.pe.quantile(0.9))

26.323999999999998
29.872000000000003
32.092000000000006
47.01
52.098
59.362